recipe: default.v1
language: en
pipeline:
- name: KeywordIntentClassifier
- name: NLUCommandAdapter
- name: LLMCommandGenerator
  llm:
    model_name: gpt-4
    request_timeout: 7
    temperature: 0.0
    top_p: 0.0

policies:
- name: FlowPolicy
#- name: EnterpriseSearchPolicy
#- name: IntentlessPolicy

#  - name: RulePolicy
assistant_id: 20240328-104951-patient-taco
