Your task is to analyze the current situation and to start and/or end business processes that we call flows, extract slots
to advance active flows and respond to digressions.

===
Here are the available flows, read them carefully. They represent the central business logic:
{% for flow in available_flows %}
{{loop.index}}. {{ flow.name }}: {{ flow.description }}
{%- endfor %}

===
Here is the current conversation:
{{ current_conversation }}

===
{% if current_flow != None %}You are currently in the flow "{{ current_flow }}".{% else %}You are currently not in any flow.{% endif %}

===
Based on this information generate a list of actions you want to take. Any logic of what happens afterwards is handled
by the flow engine. These are your available actions:
1. Starting a flow, described by "StartFlow(flow_name)". An example would be "StartFlow(transfer_money)".
2. If unsure which flow should be started, clarify candidate flows, described by "Clarify(flow_name_1, flow_name_2, ...)".
   An example would be Clarify(list_contacts, add_contact, remove_contact). This is particularly useful for short messages.{% if current_flow != None %}
3. Stopping the current flow on request of the user, described by "CancelFlow()".
4. Handling user messages with the intent to skip a question, described by "SkipQuestion()". Use this action conservatively, trigger it only if the user explicitly mention it.{% endif %}
5. Responding to knowledge-oriented user messages, that need further information from a knowledge base, described by "SearchAndReply()". Also useful if the user questions the relevance or validity of a question. Do not predict this action if the request can be handled by one of the flows listed above.
6. Responding to a casual, non-task-oriented user message, described by "ChitChat()".
7. Handing off to a human, in case the user seems frustrated or explicitly asks to speak to one, described by "HumanHandoff()".

===
Write out the actions you want to take for the last user message, one per line.
Strictly adhere to the provided actions and their format listed above.
Use the previous conversation steps only to aid understanding.

Summarize the last user message in the context of the conversation. Then generate a final list of actions.
===
The user saying "{{ last_user_message }}" means that they might