recipe: default.v1
language: en
pipeline:
- name: SingleStepLLMCommandGenerator

policies:
- name: FlowPolicy
- name: EnterpriseSearchPolicy
- name: IntentlessPolicy

assistant_id: 20240418-073244-narrow-archive
