The value of the slot "{{ slot }}" is about to be set to "{{ potential_value }}" based on user's last message.

Refine this value given additional information:

The user's last message was - "{{ last_user_message }}".
{% if slot_description %}Slot description: "{{ slot_description }}"{% endif %}
{% if allowed_values %}Allowed values for this slot: {{ allowed_values }}
If the value "{{ potential_value }}" does not belong to one of the allowed values, then just output it verbatim as the refined value.
If the value "{{ potential_value }}" is very similar to one of the allowed values, output the allowed value as the refined value.
{% endif %}
DO NOT output anything other than the refined value!
Refined value:
